### 1.
Values:
'hello', -87.8, 6

Expressions:
*, -, /, +

### 2. 

String is a data type. it is a collection of one or more characters put in a single or double quote 

Variable is name under which we store a data. Variable can contain alpha numeric value and underscore( _ ). It can start with character or undescore but can not start with number

### 3
Integer : Contains positive or negative whole number 
Ex: 5, -28

Float: Contains real number
Ex: 4.38, -18.35

string: collection of one or more characters put in a single or double quote
Ex: "Sharath", '10'

### 4

An expression is a combination of operators and operands that is interpreted to produce some other value.  An expression is evaluated as per the precedence of its operators.

### 5
Expression will return new value where as Statement will not return anything

### 6
bacon will contain 22 only because we are not changing its value. if we use bacon+=1 then it will get change to 23

### 7
value of both terms will be 'spamspamspam'

### 8
Because variable name can start with characters but can not start with numbers

### 9
int(value), float(value), str(value)

### 10 
'I have eaten' + 99 +'burriots' will cause error because we can not concatenate integer with sting we can fix this by making 99 as string using single or double quote. i.e., 'I have eaten' + '99' +'burriots'